html, body, #app {
    height: 100%;
}

.wrap {
  background: #383a4c;
  height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide img {
  object-fit: cover;
}

.loginBox {
  width: 70%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 125px 0 0;
  background: #383a4c;
  margin: auto;
  .l {
    width: 60%;
    overflow: hidden;
    display: inline-block;
    height: 460px;
    float: left;
    padding-top: 0px;
    box-sizing: border-box;

  }
  .r {
    width: 35%;
    height: 460px;
    background-color: #424458;
    display: inline-block;
    float: right;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 20px 10px;
    .login-form {
      width: 100%;
      overflow: hidden;
      height: auto;
      label {
        color: #a1a3a0;
      }
      .btn {
        width: 100%;
        background: #64a0d7;
      }
      .forgetBtn {
        width: 100%;
        text-align: right;
      }
    }
  }
}

.forget-p {
  font-size: 12px;
  color: #a1a3a0;
  text-align: right;
  cursor: pointer;
  margin-bottom: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.form-b {
  section {
    position: relative;
    height: 36px;
    padding-left: 60px;
    margin-bottom: 15px;

    &>span {
      position: absolute;
      left: 0;
      top: 0;
      width: 60px;
      height: 40px;
      line-height: 36px;
    }
  }

  .code-b {
    cursor: pointer;
  }
}



