@import "common/reset.scss";

.el-tabs__header {
    border: none;
}

.el-tabs__active-bar {
    background-color: #0053FF;
}

.el-tabs__item {
    color: #000000;

    &.is-active {
        color: #0053FF;
    }
}

.el-button--primary {
    background-color: #0053FF;
    border-color: #0053FF;
    &:hover {
        background-color: #0053FF;
        opacity: 0.9;
    }
}

.el-button--small {
    width: 60px;
}

.el-input__inner {
    height: 50px;
}

.nav-o {
    padding: 10px 0;
    font-size: 16px;
    color: #2E89FF;

    .nav-z {
        color: #000000;
    }
}